<h3> Homepage </h3>

<% @albums.each do |album| %>

<ul id="album-list">
<li>
  <b>Album: </b><%= album.title  %></a>
</li>
<br>
<li>
  <b>Artist: </b><%= Artist.find(album.artist_id).name %>
</li>
<br>
<li>
  <b>Stock Level: </b><%= album.stock_level %>
</li>
<li>
  <b>Buy Price: </b>£<%=album.buy_price %>
</li>
<li>
  <b>Sell Price: </b>£<%=album.sell_price %>
</li>
<hr>



</ul>

<% end %>