<h3> Current Stock </h3>

<div class="music">

<table>
  <thead>
    <tr>
      <th class="row1 row-title">Album Title</th>
      <th class="row2 row-artist">Artist</th>
      <th class="row3 row-stock">Current Stock</th>
      <th class="row4 row-buy">Buy Price</th>
      <th class="row5 row-sell">Sell Price</th>
    </tr>
  </thead>
  <tbody>
  <% @albums.each do |album| %>
      <tr class="notfirst">
        <td class="row1 row-title"><%= album.title %></td>
        <td class="row2 row-artist"><%= Artist.find(album.artist_id).name %></td> 
        <td class="row3 row-stock"><%= album.stock_level %> <br> (<%= album.check_stock %>)</td>
        <td class="row4 row-buy">£<%=album.buy_price %></td>
        <td class="row5 row-sell">£<%=album.sell_price %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>